<div id="container">
  <main>
    <section>
      <h1 class="text-3xl">Welcome back!</h1>
      <section id="links">
        <a class="button" href="https://docs.astro.build">Read our docs</a>
      </section>
    </section>
  </main>
</div>
